/* .topnav {
  overflow: hidden;

  justify-content: space-around;
}

.head-menu {
  display: flex;
  justify-content: flex-end;
}
.topnav a {
  color: #2c4c7a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.logo {
  margin-left: -150px;
} */
.head-menu img {
  float: left;
  margin-left: 8%;
}
.topnav-right a {
  float: right;
  color: #33527e;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}
.topnav-right {
  margin-right: 8%;
}
